
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^shreyaskapale\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shreyaskapale\.com$
RewriteRule ^/?$ "https\:\/\/shreyaskapale\.com\/" [R=301,L]

